<!DOCTYPE html>
<html>
  <head>
    <title>Delivery-APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <%= link_to t('views.home.delivery_app'), root_path, class: "navbar-brand" %>
          <div class="ms-auto">
            <% if owner_signed_in? %>
              <%= render 'layouts/owner_authenticated' %>
            <% else %>
              <%= link_to t('helpers.submit.log_in'), new_owner_session_path, class: "btn btn-outline-primary mr-2" %>
              <%= link_to t('helpers.submit.sign_in'), new_owner_registration_path, class: "btn btn-outline-success" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main class="container-fluid">
      <div>
        <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>
        <% if notice %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>